<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,644},{243,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{243,93}}</string>
                <key>sourceSize</key>
                <string>{243,103}</string>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,644},{243,95}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,95}}</string>
                <key>sourceSize</key>
                <string>{243,103}</string>
            </dict>
            <key>background3.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>darts.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,644},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>expbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,644},{380,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,102}}</string>
                <key>sourceSize</key>
                <string>{380,102}</string>
            </dict>
            <key>hear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,748},{105,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,99}}</string>
                <key>sourceSize</key>
                <string>{105,99}</string>
            </dict>
            <key>replay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,644},{279,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{279,96}}</string>
                <key>sourceSize</key>
                <string>{279,102}</string>
            </dict>
            <key>replay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,644},{279,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{279,96}}</string>
                <key>sourceSize</key>
                <string>{279,102}</string>
            </dict>
            <key>score1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,878},{55,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,220}}</string>
                <key>sourceSize</key>
                <string>{55,220}</string>
            </dict>
            <key>score2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,644},{59,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,273}}</string>
                <key>sourceSize</key>
                <string>{59,273}</string>
            </dict>
            <key>scrollpainting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{549,805}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,805}}</string>
                <key>sourceSize</key>
                <string>{549,805}</string>
            </dict>
            <key>seal.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,644},{212,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,266}}</string>
                <key>sourceSize</key>
                <string>{212,266}</string>
            </dict>
            <key>share/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,748},{126,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,134}</string>
            </dict>
            <key>share/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,809},{126,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,134}</string>
            </dict>
            <key>share/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,809},{126,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,134}</string>
            </dict>
            <key>share/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,809},{126,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,134}</string>
            </dict>
            <key>share/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,809},{126,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,134}</string>
            </dict>
            <key>share/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{126,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,134}</string>
            </dict>
            <key>share/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,748},{126,126}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EndScene.png</string>
            <key>size</key>
            <string>{1691,939}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b3f014d9d42b5c0b46060f50016ba9c$</string>
            <key>textureFileName</key>
            <string>EndScene.png</string>
        </dict>
    </dict>
</plist>
