<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,867},{178,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,90}}</string>
                <key>sourceSize</key>
                <string>{178,90}</string>
            </dict>
            <key>atmosphere/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,500},{645,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,77}}</string>
                <key>sourceSize</key>
                <string>{645,77}</string>
            </dict>
            <key>atmosphere/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,500},{645,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,95}}</string>
                <key>sourceSize</key>
                <string>{645,95}</string>
            </dict>
            <key>atmosphere/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,213},{645,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,79}}</string>
                <key>sourceSize</key>
                <string>{645,79}</string>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>clutchshot/eff10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,152},{395,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,377}}</string>
                <key>sourceSize</key>
                <string>{395,377}</string>
            </dict>
            <key>clutchshot/eff10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,294},{309,293}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{309,293}}</string>
                <key>sourceSize</key>
                <string>{395,377}</string>
            </dict>
            <key>clutchshot/eff10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,294},{281,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,55},{281,267}}</string>
                <key>sourceSize</key>
                <string>{395,377}</string>
            </dict>
            <key>clutchshot/eff20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,152},{309,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,346}}</string>
                <key>sourceSize</key>
                <string>{309,346}</string>
            </dict>
            <key>clutchshot/eff20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,589},{271,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{271,304}}</string>
                <key>sourceSize</key>
                <string>{309,346}</string>
            </dict>
            <key>clutchshot/eff20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,589},{249,276}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{249,276}}</string>
                <key>sourceSize</key>
                <string>{309,346}</string>
            </dict>
            <key>clutchshot/icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,895},{260,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,276}}</string>
                <key>sourceSize</key>
                <string>{260,276}</string>
            </dict>
            <key>item_gather/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,403},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>item_gather/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,152},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1071},{82,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{82,100}</string>
            </dict>
            <key>item_bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,294},{107,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,41}}</string>
                <key>sourceSize</key>
                <string>{107,41}</string>
            </dict>
            <key>item_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,577},{66,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,85}}</string>
                <key>sourceSize</key>
                <string>{66,85}</string>
            </dict>
            <key>item_cloud/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1111},{97,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,38}}</string>
                <key>sourceSize</key>
                <string>{97,38}</string>
            </dict>
            <key>item_cloud/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1071},{97,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,38}}</string>
                <key>sourceSize</key>
                <string>{97,38}</string>
            </dict>
            <key>item_cloud/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1105},{97,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,38}}</string>
                <key>sourceSize</key>
                <string>{97,38}</string>
            </dict>
            <key>item_cloud/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1105},{97,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,38}}</string>
                <key>sourceSize</key>
                <string>{97,38}</string>
            </dict>
            <key>item_cloud/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,1026},{97,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,38}}</string>
                <key>sourceSize</key>
                <string>{97,38}</string>
            </dict>
            <key>item_cloud/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,927},{97,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,38}}</string>
                <key>sourceSize</key>
                <string>{97,38}</string>
            </dict>
            <key>item_cloud/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,828},{97,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,38}}</string>
                <key>sourceSize</key>
                <string>{97,38}</string>
            </dict>
            <key>item_cloud/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,729},{97,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,38}}</string>
                <key>sourceSize</key>
                <string>{97,38}</string>
            </dict>
            <key>item_cloud/cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1102},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>item_darts.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1102},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>power1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,125},{755,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{755,25}}</string>
                <key>sourceSize</key>
                <string>{793,59}</string>
            </dict>
            <key>power2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,98},{755,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{755,25}}</string>
                <key>sourceSize</key>
                <string>{793,59}</string>
            </dict>
            <key>power3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,63},{763,33}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{763,33}}</string>
                <key>sourceSize</key>
                <string>{793,59}</string>
            </dict>
            <key>power4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{789,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{789,59}}</string>
                <key>sourceSize</key>
                <string>{793,59}</string>
            </dict>
            <key>power5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,664},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>power6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,867},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>powerbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,1049},{247,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{247,106}}</string>
                <key>sourceSize</key>
                <string>{249,106}</string>
            </dict>
            <key>skillname1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,2},{209,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,552}}</string>
                <key>sourceSize</key>
                <string>{209,552}</string>
            </dict>
            <key>skillname2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,531},{200,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,569}}</string>
                <key>sourceSize</key>
                <string>{200,569}</string>
            </dict>
            <key>skillname3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,531},{200,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,572}}</string>
                <key>sourceSize</key>
                <string>{200,572}</string>
            </dict>
            <key>skillname4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,500},{201,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,569}}</string>
                <key>sourceSize</key>
                <string>{201,569}</string>
            </dict>
            <key>snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,63},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>suspend.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1102},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameLayer.png</string>
            <key>size</key>
            <string>{2019,1157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f3240befc184844b221cb6e767be7ad$</string>
            <key>textureFileName</key>
            <string>gameLayer.png</string>
        </dict>
    </dict>
</plist>
