<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{456,340}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,340}}</string>
                <key>sourceSize</key>
                <string>{456,342}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{483,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,277}}</string>
                <key>sourceSize</key>
                <string>{483,277}</string>
            </dict>
            <key>bgText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,20}}</string>
                <key>sourceSize</key>
                <string>{379,20}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,207},{32,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{32,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>getButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1597},{163,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,66}}</string>
                <key>sourceSize</key>
                <string>{163,66}</string>
            </dict>
            <key>getButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1529},{163,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,66}}</string>
                <key>sourceSize</key>
                <string>{163,66}</string>
            </dict>
            <key>getButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1731},{163,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>getButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1665},{163,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>gift/giftButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1093},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>gift/giftName.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{19,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,57}}</string>
                <key>sourceSize</key>
                <string>{19,57}</string>
            </dict>
            <key>gift/giftText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,798},{38,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,144}}</string>
                <key>sourceSize</key>
                <string>{38,144}</string>
            </dict>
            <key>gift/giftText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,379},{38,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,258}}</string>
                <key>sourceSize</key>
                <string>{38,258}</string>
            </dict>
            <key>gift/giftText3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1356},{149,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,151}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>gift/giftTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1509},{411,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,197}}</string>
                <key>sourceSize</key>
                <string>{411,197}</string>
            </dict>
            <key>resurgence/resurgenceDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{139,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,251}}</string>
                <key>sourceSize</key>
                <string>{139,251}</string>
            </dict>
            <key>resurgence/resurgenceNum0.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,944},{114,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,147}}</string>
                <key>sourceSize</key>
                <string>{114,147}</string>
            </dict>
            <key>resurgence/resurgenceNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1922},{77,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,144}}</string>
                <key>sourceSize</key>
                <string>{77,144}</string>
            </dict>
            <key>resurgence/resurgenceNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1797},{104,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,147}}</string>
                <key>sourceSize</key>
                <string>{104,147}</string>
            </dict>
            <key>resurgence/resurgenceNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1206},{110,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,148}}</string>
                <key>sourceSize</key>
                <string>{110,148}</string>
            </dict>
            <key>resurgence/resurgenceText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,639},{38,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,157}}</string>
                <key>sourceSize</key>
                <string>{38,157}</string>
            </dict>
            <key>resurgence/resurgenceText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1463},{64,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,203}}</string>
                <key>sourceSize</key>
                <string>{64,203}</string>
            </dict>
            <key>resurgence/resurgenceTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{370,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,181}}</string>
                <key>sourceSize</key>
                <string>{370,181}</string>
            </dict>
            <key>skill/skillText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1718},{36,197}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,197}}</string>
                <key>sourceSize</key>
                <string>{38,197}</string>
            </dict>
            <key>skill/skillText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1529},{35,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,187}}</string>
                <key>sourceSize</key>
                <string>{35,187}</string>
            </dict>
            <key>skill/skillTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{368,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,170}}</string>
                <key>sourceSize</key>
                <string>{368,170}</string>
            </dict>
            <key>skillButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1922},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>skillButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1922},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>skillButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1922},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Popup.png</string>
            <key>size</key>
            <string>{406,2007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b86abd19de9863a3b504ff57514a646e$</string>
            <key>textureFileName</key>
            <string>Popup.png</string>
        </dict>
    </dict>
</plist>
