<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jumpfall/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,529},{113,163}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{113,163}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>jumpfall/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,359},{119,161}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{119,161}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>jumpfall/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,362},{109,165}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{109,165}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>jumpfall/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,246},{111,171}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{111,171}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>jumpflip/jumpflip0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,781},{81,111}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{81,111}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>run/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,734},{154,99}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{154,99}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>run/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,522},{142,131}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{142,131}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>run/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,666},{128,113}}</string>
                <key>offset</key>
                <string>{16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{128,113}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>run/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1031},{152,103}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{152,103}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>skill_end1/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1040},{184,242}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,85},{184,242}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end1/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{186,242}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,85},{186,242}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end1/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1772},{184,242}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,85},{184,242}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end1/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{184,242}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,85},{184,242}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end1/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{184,242}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,85},{184,242}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end1/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{184,242}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,85},{184,242}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end1/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1284},{182,238}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,85},{182,238}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end1/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1524},{182,236}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,87},{182,236}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end1/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1762},{182,234}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,86},{182,234}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end2/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1185},{116,106}}</string>
                <key>offset</key>
                <string>{16,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,208},{116,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end2/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1613},{98,98}}</string>
                <key>offset</key>
                <string>{22,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,217},{98,98}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end2/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1945},{96,92}}</string>
                <key>offset</key>
                <string>{24,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,223},{96,92}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end2/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1713},{120,88}}</string>
                <key>offset</key>
                <string>{48,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,226},{120,88}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end2/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1491},{120,88}}</string>
                <key>offset</key>
                <string>{52,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,226},{120,88}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end2/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,359},{54,50}}</string>
                <key>offset</key>
                <string>{34,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,250},{54,50}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_end2/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,469},{50,48}}</string>
                <key>offset</key>
                <string>{39,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,256},{50,48}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_life/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,988},{12,9}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,50},{12,9}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>skill_life/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,694},{32,25}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,42},{32,25}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>skill_life/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,415},{52,47}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,31},{52,47}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>skill_life/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,781},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{76,67}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>skill_life/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1835},{108,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{108,97}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>skill_life/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1125},{130,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,105}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>skill_life/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1257},{110,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{110,101}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>skill_life/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1369},{120,91}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,91}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>skill_life/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,694},{54,67}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,20},{54,67}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>skill_start/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,358}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{394,358}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_start/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{302,304}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,54},{302,304}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>skill_start/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{320,370}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,54},{320,370}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>stand/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,864},{137,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>stand/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1293},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>stand/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1573},{137,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>stand/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,890},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>stand/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1712},{139,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{139,120}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>stand/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1853},{137,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{137,120}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>stand/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1434},{137,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
            <key>stand/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,988},{135,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{135,122}}</string>
                <key>sourceSize</key>
                <string>{139,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{609,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0942f298800baa43eab20a76cb4cf2b4$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
